@addTagHelper "*, Microsoft.AspNetCore.Mvc.TagHelpers"
@model School.Areas.Admin.Models.StaffModel
@using School.Areas.Admin.Models;
@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<partial name="_Breadcrumb" , model="new BreadcrumbView{PageTitle = @ViewData["PageTitle"].ToString(), ControllerName = @ViewData["ControllerName"].ToString()}" />

<div class="card card-outline card-primary mt-3">
    <div class="card-header">
        <div class="row">
            <div class="col-sm-9">
                <h6>@ViewData["PageName"]</h6>
            </div>
            <div class="col-sm-3">
                <a asp-action="Index" class="btn btn-outline-info  float-right"><i class="fas fa-chevron-circle-left"></i> Back</a>
            </div>
        </div>
    </div>
    <div class="card-body">

        <form method="post" enctype="multipart/form-data" asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group row">
                <label asp-for="Name" class="col-sm-2 col-form-label"></label>
                <div class="col-sm-10">
                    <input asp-for="Name" class="form-control" autocomplete="off" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="FatherName" class="col-sm-2 col-form-label"></label>
                <div class="col-sm-10">
                    <input asp-for="FatherName" class="form-control" autocomplete="off" />
                    <span asp-validation-for="FatherName" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="CurrentAddress" class="col-sm-2 col-form-label"></label>
                <div class="col-sm-10">
                    <textarea asp-for="CurrentAddress" class="form-control"></textarea>
                    <span asp-validation-for="CurrentAddress" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="offset-sm-8 col-sm-4">
                    <div class="form-check float-right">
                        <input type="checkbox" class="form-check-input" id="sameaddress">
                        <label class="form-check-label" for="sameaddress">Same as Current Address</label>
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="PermanetAddress" class="col-sm-2 col-form-label"></label>
                <div class="col-sm-10">
                    <textarea asp-for="PermanetAddress" class="form-control"></textarea>
                    <span asp-validation-for="PermanetAddress" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group row">
                <label asp-for="State" class="col-sm-2 col-form-label"></label>
                <div class="col-sm-4">
                    <input asp-for="State" class="form-control" autocomplete="off" />
                </div>
                <label asp-for="City" class="col-sm-2 col-form-label"></label>
                <div class="col-sm-4">
                    <input asp-for="City" class="form-control" autocomplete="off" />
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="Mobile" class="col-sm-2 col-form-label"></label>
                <div class="col-sm-4">
                    <input asp-for="Mobile" class="form-control" autocomplete="off" />
                    <span asp-validation-for="Mobile" class="text-danger"></span>
                </div>
                <label asp-for="WhatsApp" class="col-sm-2 col-form-label"></label>
                <div class="col-sm-3">
                    <input asp-for="WhatsApp" class="form-control" autocomplete="off" />
                    <span asp-validation-for="WhatsApp" class="text-danger"></span>
                </div>
                <div class="col-sm-1">
                    <div class="form-check float-right">
                        <input type="checkbox" class="form-check-input" id="samemobile">
                        <label class="form-check-label" for="samemobile">Same</label>
                    </div>
                </div>
            </div>

            <div class="form-group row">
                <label asp-for="Email" class="col-sm-2 col-form-label"></label>
                <div class="col-sm-10">
                    <input asp-for="Email" class="form-control" autocomplete="off" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group row">
                <label asp-for="DesginationID" class="col-sm-2 col-form-label"></label>
                <div class="col-sm-4">
                    <select asp-for="DesginationID" class="form-control select2" asp-items="@School.Areas.Admin.Controllers.StaffController.GetDesginationList()"> </select>
                    <span asp-validation-for="DesginationID" class="text-danger"></span>
                </div>
                <label asp-for="Salary" class="col-sm-2 col-form-label"></label>
                <div class="col-sm-4">
                    <input asp-for="Salary" class="form-control" autocomplete="off" />
                    <span asp-validation-for="Salary" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group row">
                <label asp-for="IsPF" class="col-sm-2 col-form-label"></label>

                <div class="col-sm-2">
                    <div class="form-check">
                        <input asp-for="IsPF" class="form-check-input" value="Yes" type="radio" name="PF">
                        <label class="form-check-label">Yes</label>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="form-check">
                        <input asp-for="IsPF" class="form-check-input" checked="checked" value="No" type="radio" name="PF">
                        <label class="form-check-label">No</label>
                    </div>
                </div>

                <label asp-for="PFNumber" class="col-sm-2 col-form-label"></label>
                <div class="col-sm-4">
                    <input asp-for="PFNumber" class="form-control" autocomplete="off" />
                    <span asp-validation-for="PFNumber" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group row">
                <label asp-for="DateOfBirth" class="col-sm-2 col-form-label"></label>
                <div class="col-sm-4">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="far fa-calendar-alt"></i></span>
                        </div>
                        <input type="text" class="form-control" data-inputmask-alias="datetime" data-inputmask-inputformat="dd/mm/yyyy" data-mask>
                    </div>
                </div>
                <label asp-for="DateOfAppointment" class="col-sm-2 col-form-label"></label>
                <div class="col-sm-4">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="far fa-calendar-alt"></i></span>
                        </div>
                        <input type="text" class="form-control" data-inputmask-alias="datetime" data-inputmask-inputformat="dd/mm/yyyy" data-mask>
                    </div>
                </div>
            </div>
            <div class="form-group row" style="border:1px solid grey;padding:5px;">
                <label class="col-sm-4 col-form-label">Educational Qualification</label>
                <div class="col-sm-8">
                    <button type="button" class="btn btn-outline-info float-right" on><i class="fas fa-plus"></i> Add</button>
                </div>
                <div class="col-sm-12 mt-2">
                    <table class="table table-sm">
                        <thead>
                            <tr>
                                <th style="width: 10px">#</th>
                                <th>Exam Name</th>
                                <th>Board/University</th>
                                <th>Passing Year</th>
                                <th style="width: 40px">Percent</th>
                                <th>Resulte</th>
                                <th>Del</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1.</td>
                                <td>10th Class</td>
                                <td>MP Board</td>
                                <td>
                                    <div class="progress progress-xs">
                                        <div class="progress-bar progress-bar-danger" style="width: 55%"></div>
                                    </div>
                                </td>
                                <td><span class="badge bg-danger">55%</span></td>
                                <td>Pass</td>
                                <td>Del</td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>
           

            <div class="form-group row">
                <label asp-for="Resume" class="col-sm-2 col-form-label"></label>
                <div class="col-sm-10">
                    <div class="input-group">
                        <div class="custom-file">
                            <input type="file" class="custom-file-input" id="exampleInputFile">
                            <label class="custom-file-label" for="exampleInputFile">Choose file</label>
                        </div>
                        <div class="input-group-append">
                            <span class="input-group-text">Upload</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="ScanDocuments" class="col-sm-2 col-form-label"></label>
                <div class="col-sm-10">
                    <div class="input-group">
                        <div class="custom-file">
                            <input type="file" class="custom-file-input" id="exampleInputFile">
                            <label class="custom-file-label" for="exampleInputFile">Choose file</label>
                        </div>
                        <div class="input-group-append">
                            <span class="input-group-text">Upload</span>
                        </div>
                    </div>
                </div>
            </div>


            <div class="form-group row">
                <div class="col-sm-12">
                    <button type="submit" class="btn btn-outline-primary float-right" on><i class="fas fa-plus"></i> Create</button>
                </div>
            </div>
        </form>

    </div>
    <div class="card-footer">
        <p>Use <i style="color:blue" class="fas fa-plus-square"></i> for Insert Record, <i style="color:green" class="fas fa-edit"></i> for Update Record and <i style="color:red" class="fas fa-window-close"></i> for Delete Record </p>
    </div>
</div>


