@addTagHelper "*, Microsoft.AspNetCore.Mvc.TagHelpers"
@model School.Areas.Admission.Models.AdmissionModel
@using School.Areas.Admin.Models;
@{
    Layout = "~/Areas/Admission/Views/Shared/_Layout.cshtml";
}

@*<script src="~/jquery-app/tr-student.js"></script>
<script src="~/jquery-app/vl-student.js"></script>*@

<partial name="_Breadcrumb" , model="new BreadcrumbView{PageTitle = @ViewData["PageTitle"].ToString(), ControllerName = @ViewData["ControllerName"].ToString()}" />

<div class="card card-outline card-primary mt-3">
    <div class="card-header">
        <div class="row">
            <div class="col-sm-9">
                <h6>@ViewData["PageName"]</h6>
            </div>
            <div class="col-sm-3">
                <a asp-action="Index" class="btn btn-outline-info  float-right"><i class="fas fa-chevron-circle-left"></i> Back</a>
            </div>
        </div>
    </div>
    <div class="card-body">
        <form id="vlform" name="vlform" method="post" enctype="multipart/form-data" asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group row">
                <label asp-for="StudentID" class="col-sm-2 col-form-label"></label>
                <div class="col-sm-8">
                    <input asp-for="StudentID" class="form-control" autocomplete="off" />
                    <span asp-validation-for="StudentID" class="text-danger"></span>
                </div>
                <div class="col-sm-1">
                    <button type="button" id="View" name="View" class="btn btn-outline-success float-right" onclick="PushRow();">V</button>
                </div>
                <div class="col-sm-1">
                    <button type="button" id="Opp" name="Opp" class="btn btn-outline-success float-right" onclick="PushRow();">C</button>
                </div>
            </div>

            <div class="form-group row">
                <label asp-for="DateOfAdmission" class="col-sm-2 col-form-label"></label>
                <div class="col-sm-4">
                    <input asp-for="DateOfAdmission" type="date" class="form-control">
                    <span asp-validation-for="DateOfAdmission" class="text-danger"></span>
                </div>
                <label asp-for="ClassID" class="col-sm-2 col-form-label"></label>
                <div class="col-sm-4">
                    <select asp-for="ClassID" class="form-control select2" asp-items="@School.Areas.Admin.Controllers.FeesStructureController.GetClassList()"> </select>
                    <span asp-validation-for="ClassID" class="text-danger"></span>
                </div>
            </div>

            <h5 class="sub-title">Student Education Details</h5>
            <hr />
            <!-- Education start -->
            <div class="form-group row">
                <div class="col-sm-2">
                    <label class="form-control-label">Class Name</label>
                    <input type="text" id="ClassName" name="ClassName" class="form-control" />
                    <input type="hidden" id="ClassID" name="ClassID" />
                    @*<input type="hidden" id="OldFeesHeadID" name="FeesHeadID" />*@
                    <input type="hidden" id="EducationTransID" name="EducationTransID" />
                </div>
                <div class="col-sm-2">
                    <label class="form-control-label">Board</label>
                    <input type="text" id="Board" name="Board" class="form-control" />
                </div>

                <div class="col-sm-2">
                    <label class=" form-control-label">Institute</label>
                    <input type="text" id="Institute" name="Institute" disabled="disabled" class="form-control" />
                </div>

                <div class="col-sm-1">
                    <label class="form-control-label">Passing Year</label>
                    <input type="text" id="PassingYear" name="PassingYear" class="form-control">
                </div>
                <div class="col-sm-1">
                    <label class="form-control-label">Total Mark</label>
                    <input type="text" id="TotalMark" name="TotalMark" class="form-control">
                </div>
                <div class="col-sm-1">
                    <label class="form-control-label">Recieved Mark</label>
                    <input type="text" id="RecievedMark" name="RecievedMark" class="form-control">
                </div>
                <div class="col-sm-1">
                    <label class="form-control-label">Percent Grade</label>
                    <input type="text" id="PercentGrade" name="PercentGrade" class="form-control">
                </div>
                <div class="col-sm-1">
                    <label class="form-control-label">Action</label>
                    <button type="button" id="Add" name="Add" class="btn btn-outline-success float-right" onclick="PushRow();">Add</button>
                </div>
            </div>
            <div class="form-group row">
                <table id='dtTable' class='table table-sm'>
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Class Name</th>
                            <th>Board</th>
                            <th>Institute</th>
                            <th>Passing Year</th>
                            <th>Total Mark</th>
                            <th>Recieved Mark</th>
                            <th>Percent/Grade</th>
                            <th>Edit</th>
                            <th>Del</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
            <!-- Education End  -->
            <!-- Activity  -->
            <div class="form-group row">
                <div class="col-sm-4">
                    <label class="form-control-label">Activity Name</label>
                    <input type="text" id="ActivityName" name="ActivityName" class="form-control" />
                    <input type="hidden" id="ActivityID" name="ActivityID" />
                    <input type="hidden" id="OldActivityID" name="OldActivityID" />
                    <input type="hidden" id="ActivityTransID" name="ActivityTransID" />
                </div>
                <div class="col-sm-2">
                    <label class="form-control-label">Place Name</label>
                    <input type="text" id="PlaceName" name="PlaceName" class="form-control" />
                </div>

                <div class="col-sm-3">
                    <label class=" form-control-label">Activity Year</label>
                    <input type="text" id="ActivityYear" name="ActivityYear" class="form-control" />
                </div>

                <div class="col-sm-2">
                    <label class="form-control-label">Any Award</label>
                    <input type="text" id="AnyAward" name="AnyAward" class="form-control">
                </div>
                <div class="col-sm-1">
                    <label class="form-control-label">Action</label>
                    <button type="button" id="Add" name="Add" class="btn btn-outline-success float-right" onclick="PushRow();">Add</button>
                </div>
            </div>
            <div class="form-group row">
                <table id='dtTable' class='table table-sm'>
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Activity Name</th>
                            <th>Place Name</th>
                            <th>Activity Year</th>
                            <th>Any Award</th>
                            <th>Edit</th>
                            <th>Del</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
            <!-- Activity End  -->


            <div class="form-group row">
                <div class="col-sm-12">
                    <button type="submit" class="btn btn-outline-primary float-right" on><i class="fas fa-plus"></i> Create</button>
                </div>
            </div>

        </form>

    </div>
    <div class="card-footer">
        <p>Use <i style="color:blue" class="fas fa-plus-square"></i> for Insert Record, <i style="color:green" class="fas fa-edit"></i> for Update Record and <i style="color:red" class="fas fa-window-close"></i> for Delete Record </p>
    </div>
</div>




