@addTagHelper "*, Microsoft.AspNetCore.Mvc.TagHelpers"
@model School.Areas.Admission.Models.AdmissionModel
@using School.Areas.Admission.Models;
@using School.Areas.Admin.Models;
@{
    Layout = "~/Areas/Admission/Views/Shared/_Layout.cshtml";
}
<script src="~/jquery-app/tr-admission.js"></script>

<partial name="_Breadcrumb" , model="new BreadcrumbView{PageTitle = @ViewData["PageTitle"].ToString(), ControllerName = @ViewData["ControllerName"].ToString()}" />

<div class="card card-outline card-primary mt-3">
    <div class="card-header">
        <div class="row">
            <div class="col-sm-9">
                <h6>@ViewData["PageName"]</h6>
            </div>
            <div class="col-sm-3">
                <a asp-action="Index" class="btn btn-outline-info  float-right"><i class="fas fa-chevron-circle-left"></i> Back</a>
            </div>
        </div>
    </div>
    <div class="card-body">
        <form id="vlform" name="vlform" method="post" enctype="multipart/form-data" asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group row">
                <label asp-for="StudentID" class="col-sm-2 col-form-label"></label>
                <div class="col-sm-8">
                    <input id="StudentName" name="StudentName" class="form-control" autocomplete="off" />
                    <input asp-for="StudentID" type="hidden" />
                    <span asp-validation-for="StudentID" class="text-danger"></span>
                </div>
                <div class="col-sm-1">
                    <button type="button" id="View" name="View" class="btn btn-outline-success float-right" onclick="PushRow();"><i class="fas fa-search-plus"></i></button>
                </div>
                <div class="col-sm-1">
                    <button type="button" id="AddStudent" name="AddStudent" class="btn btn-outline-info float-right" onclick="ShowModel();"><i class="fas fa-plus"></i></button>
                </div>
            </div>

            <div class="form-group row">
                <label asp-for="DateOfAdmission" class="col-sm-2 col-form-label"></label>
                <div class="col-sm-4">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="far fa-calendar-alt"></i></span>
                        </div>
                        <input asp-for="DateOfAdmission" type="date" class="form-control">
                        <span asp-validation-for="DateOfAdmission" class="text-danger"></span>
                    </div>
                </div>
                <label asp-for="ClassID" class="col-sm-2 col-form-label"></label>
                <div class="col-sm-4">
                    <select asp-for="ClassID" class="form-control select2" asp-items="@School.Areas.Admin.Controllers.FeesStructureController.GetClassList()"> </select>
                    <span asp-validation-for="ClassID" class="text-danger"></span>
                </div>
            </div>
            <!--Accordion wrapper-->
            <div class="accordion md-accordion" id="accordionEx" role="tablist" aria-multiselectable="true">
                <!-- Accordion card -->
                <div class="card">
                    <!-- Card header -->
                    <div class="card-header" role="tab" id="headingOne1">
                        <a data-toggle="collapse" data-parent="#accordionEx" href="#collapseOne1" aria-expanded="true"
                           aria-controls="collapseOne1">
                            <h5 class="mb-0">
                                Student Previous Education Details <i class="fas fa-angle-down rotate-icon float-right"></i>
                            </h5>
                        </a>
                    </div>
                    <!-- Card body -->
                    <div id="collapseOne1" class="collapse show" role="tabpanel" aria-labelledby="headingOne1"
                         data-parent="#accordionEx">
                        <div class="card-body">
                            <!-- Education start -->
                            <div class="form-group row m-0">
                                <label class="col-sm-2 col-form-label">Class Name</label>
                                <div class="col-sm-10">
                                    <input type="text" id="EduClassName" name="EduClassName" class="form-control form-control-sm" />
                                </div>
                            </div>
                            <div class="form-group row m-0">
                                <label class="col-sm-2 col-form-label">Board</label>
                                <div class="col-sm-4">
                                    <input type="text" id="EduBoard" name="EduBoard" class="form-control form-control-sm" />
                                </div>
                                <label class="col-sm-2 col-form-label">Institute</label>
                                <div class="col-sm-4">
                                    <input type="text" id="EduInstitute" name="EduInstitute" class="form-control form-control-sm" />
                                </div>
                            </div>
                            <div class="form-group row m-0">
                                <label class="col-sm-2 col-form-label">Passing Year</label>
                                <div class="col-sm-4">
                                    <input type="text" id="EduYear" name="EduYear" class="form-control form-control-sm" />
                                </div>
                                <label class="col-sm-2 col-form-label">Total Mark</label>
                                <div class="col-sm-4">
                                    <input type="text" id="EduTotalMark" name="EduTotalMark" class="form-control form-control-sm" />
                                </div>
                            </div>
                            <div class="form-group row m-0">
                                <label class="col-sm-2 col-form-label">Recieved Mark</label>
                                <div class="col-sm-4">
                                    <input type="text" id="EduRecievedMark" name="EduRecievedMark" class="form-control form-control-sm" />
                                </div>
                                <label class="col-sm-2 col-form-label">Percent/Grade</label>
                                <div class="col-sm-4">
                                    <input type="text" id="EduPercentGrade" name="EduPercentGrade" class="form-control form-control-sm" />
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-12">
                                    <button type="button" id="EduAdd" name="EduAdd" class="btn btn-outline-success float-right" onclick="PushRow();">Add</button>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <div class="form-group row">
                <table id='dtTable' class='table table-sm'>
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Class Name</th>
                            <th>Board</th>
                            <th>Institute</th>
                            <th>Passing Year</th>
                            <th>Total Mark</th>
                            <th>Recieved Mark</th>
                            <th>Percent/Grade</th>
                            <th>Edit</th>
                            <th>Del</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
            <!-- Education End  -->
            <!--Accordion wrapper-->
            <div class="accordion md-accordion" id="accordionEx" role="tablist" aria-multiselectable="true">
                <!-- Accordion card -->
                <div class="card">
                    <!-- Card header -->
                    <div class="card-header" role="tab" id="headingOne1">
                        <a data-toggle="collapse" data-parent="#accordionEx" href="#collapseOne2" aria-expanded="true"
                           aria-controls="collapseOne1">
                            <h5 class="mb-0">
                                Student Previous Activity Details <i class="fas fa-angle-down rotate-icon float-right"></i>
                            </h5>
                        </a>
                    </div>
                    <!-- Card body -->
                    <div id="collapseOne2" class="collapse" role="tabpanel" aria-labelledby="headingOne1"
                         data-parent="#accordionEx">
                        <div class="card-body">
                            <!-- Education start -->
                            <div class="form-group row m-0">
                                <label class="col-sm-2 col-form-label">Activity Name</label>
                                <div class="col-sm-10">
                                    <input type="text" id="ActivityName" name="ActivityName" class="form-control form-control-sm" />
                                </div>
                            </div>
                            <div class="form-group row m-0">
                                <label class="col-sm-2 col-form-label">Place Name</label>
                                <div class="col-sm-4">
                                    <input type="text" id="PlaceName" name="PlaceName" class="form-control form-control-sm" />
                                </div>
                                <label class="col-sm-2 col-form-label">Institute</label>
                                <div class="col-sm-4">
                                    <input type="text" id="ActivityInstitute" name="ActivityInstitute" class="form-control form-control-sm" />
                                </div>
                            </div>
                            <div class="form-group row m-0">
                                <label class="col-sm-2 col-form-label">Activity Year</label>
                                <div class="col-sm-4">
                                    <input type="text" id="ActivityYear" name="ActivityYear" class="form-control form-control-sm" />
                                </div>
                                <label class="col-sm-2 col-form-label">Award</label>
                                <div class="col-sm-4">
                                    <input type="text" id="AnyAward" name="AnyAward" class="form-control form-control-sm" />
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-12">
                                    <button type="button" id="ActivityAdd" name="ActivityAdd" class="btn btn-outline-success float-right" onclick="PushRow();">Add</button>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="form-group row">
                <table id='dtTable' class='table table-sm'>
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Activity Name</th>
                            <th>Place Name</th>
                            <th>Institute</th>
                            <th>Activity Year</th>
                            <th>Any Award</th>
                            <th>Edit</th>
                            <th>Del</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
            <!-- Activity End  -->


            <div class="form-group row">
                <div class="col-sm-12">
                    <button type="submit" class="btn btn-outline-primary float-right" on><i class="fas fa-plus"></i> Create</button>
                </div>
            </div>

        </form>

    </div>
    <div class="card-footer">
        <p>Use <i style="color:blue" class="fas fa-plus-square"></i> for Insert Record, <i style="color:green" class="fas fa-edit"></i> for Update Record and <i style="color:red" class="fas fa-window-close"></i> for Delete Record </p>
    </div>
</div>


<!-- Student Model -->
<div class="modal fade" id="add-student-lg">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">New Student</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <partial name="_Student.cshtml" , model="new StudentModel { }" />
              
            </div>
            <div class="modal-footer justify-content-between">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                @*<button type="button" class="btn btn-primary">Save changes</button>*@
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

